/* ------ Header.js ------ */

.header-nav {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  background-color: #000;
}

.header-nav h3 {
  margin-left: 46px;
}

.header-user-container {
  display: flex;
  align-items: center;
  margin-right: 48px;
}

.header-user-container img {
  height: 43px;
  width: 43px;
  margin-right: 13px;
  border-radius: 90px;
  border: 3px solid #BB000E;
}

.header-user-container span {
  color: #BB000E;
  margin-left: 23px;
}

.header-user-container span:hover {
  cursor: pointer;
}

/* ----------------------- */